/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import 'src/assets/styles/toastr.scss';
@font-face {
  font-family: UniSansHeavy;
  src: url("./assets/fonts/Uni_Sans_Heavy.otf") format("truetype");
}

@font-face {
  font-family: UniSansHeavyItalic;
  src: url("./assets/fonts/Uni_Sans_Heavy_Italic.otf") format("truetype");
}

@font-face {
  font-family: UniSansBold;
  src: url("./assets/fonts/Uni_Sans_Bold.otf") format("truetype");
}

@font-face {
  font-family: UniSansBoldItalic;
  src: url("./assets/fonts/Uni_Sans_Bold_Italic.otf") format("truetype");
}

// Angular SCSS Reset boilerplate
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // to make 1rem = 10px
  font-family: "Roboto", sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
}

// change highlight color in Chrome
::selection {
  background: rgba(0, 0, 0, 0.1);
}

// change highlight color in Firefox
::-moz-selection {
  background: rgba(0, 0, 0, 0.1);
}

// change the default cursor
a {
  cursor: pointer;
}

// define all input fields color to black
input {
  color: black;
}

ion-app {
    zoom: 0.8; /* adjust value as needed */

  }
  

// remove <a> highlight on mobile click
a {
  -webkit-tap-highlight-color: transparent;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #2f1c07;
}

// Maximum width of the content
.max-width {
  max-width: 120rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Myriad Pro", sans-serif;
  font-weight: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
